.how-Conatiner{
    background-color: #0d1721;
    height: 50rem;
    border-radius: 10px;
    margin: 88px 10px;
}
.how-Conatiner h1{
    color: #03d3b9;
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
    
}
.how-Steps-Container{
    display: flex;
    
    
}
.how-Step{
   
    margin: 15px 15px;
    
    /* height: 100%; */
    
}
.how-Step:nth-child(1){
    margin-left: 12rem;
    margin-top: 25px;
    margin-bottom: 0;
}
.how-Step:nth-child(2){
    
    
    margin-left: 2rem;
    margin-top: 12rem;
    
    
    
}

.how-Step .swiper{
    
    position: relative;
    height: 655px;
    width: 300px;
    top: -42rem;
}
.cadre{
    
    width: 350px;
}
.imgSlide{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.how-Step h1{
    color: #FEFFFF;
    font-size: 36px;
    padding-bottom: 25px;
    font-family: Rubik;

}
.how-Step p{
    color: #03d3b9;
    font-size: 26px;
    padding-bottom: 25px;
}
.how-Step span{
    color: #DEF2F1;
    
}

/* Casque section */

.casque-container {
    display: flex;
    margin: 20px 65px;
   
}
.casque-thumb {
    
    padding: 35px;
}
.casque-thumb img{
    width: 450px;
    height: 345px;
    border-radius: 20px;
}
.casque-description{
    padding: 6rem ;
    
    
}
.casque-description h2{
    color: #03d3b9;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
}
    

.casque-description p{
    color: #a8abad;
    
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
    
}

/* Vehicule section */
.vehicule-container{
    display: flex;
    margin: 35px;
    
}
.vehicule-thumb {
    
    padding: 45px;
}
.vehicule-thumb img{
    width: 450px;
    height: 345px;
    border-radius: 20px;
}
.vehicule-description{
    padding: 5rem ;
    

    
    
}
.vehicule-description h2{
    color: #03d3b9;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
}
    

.vehicule-description p{
    color: #a8abad;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
    
}
.scooter{
    position: relative;
    left: 5%;
}

/* Reso */

@media (max-width:999px){
    .how-Conatiner{
        height: auto;
    }
    .how-Steps-Container{
        flex-direction: column;
        align-items: center;
    }
    .how-Step:nth-child(1) {
        margin: auto;
        padding-bottom: 0;
    }
    .how-Step:nth-child(2) {
        margin-top: -38rem;
       
    }
    .how-Step h1{
        
        color: #03d3b9;
    }
    .how-Step p{
        font-size: 16px;
        color: #FEFFFF;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    }
    .casque-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #03d3b9;
        border-radius: 10px;
        margin: auto;
        width: 90%
    }
    .casque-thumb{
        display: block;
        margin: auto;
    }
    .casque-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .vehicule-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        border: 1px solid #03d3b9;
        border-radius: 10px;
        margin: 20px auto;
        width: 90%;
    }
    .vehicule-thumb{
        display: block;
        margin: auto;
    }
    .vehicule-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .scooter{
        margin: auto;
        display: block;
        left: 0;
    }
    .scooter img{
        width: 100%;
    }
}

@media (max-width:680px){
    /* *{
        border: 1px solid red;
    } */
    .casque-thumb{
        width: 350px;
    }
    .casque-thumb img{
        width: 100%;
    }
    .vehicule-thumb{
        width: 350px;
    }
    .vehicule-thumb img{
        width: 100%;
    }
}

