.termes-Container{
    color: #fff;
    margin: 80px auto;
    width: 98%;
    height: 546px;
    border-radius: 25px;
    background-image: url('../../assets/banner.jfif');
    background-size: cover;
    background-position: 50%;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    font-family: Nunito,sans-serif;
    overflow: hidden;
}
.termes-Filter{
    width: 100%;
    height: 100%;
    background-color: rgba(13,23,33,.8);
    padding: 50px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}
.termes-Filter h1{
    text-transform: uppercase;
    font-size: 55px;
}
.termes-Filter h1::after{
    display: block;
    content: "";
    border-bottom: 5px solid #03d3b9;
    width: 200px;
    border-radius: 10px;
    margin-top: 1px;
   transition: 0.3s;
}
.termes_TextContainer{
    font-family: 'Ysabeau', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 40px;
    margin-top: 30px;
}
.termes_TextContainer p{
   font-weight: 600;
}
.termes-Title{
    color: #03d3b9;
    font-size: 18px;
    text-decoration: underline;
    font-size: 22px;
}
.termes-Number{
    font-size: 30px;
}
.termes-Link{
    color: #03d3b9;
    text-decoration: none;
}
.termes-SousTitle{
    font-size: 20px;
    color: #03d3b9;
    text-decoration: underline;
}

table{
    border-collapse: separate;
    background:#fff;
    border: 1px solid #071e26;
    border-radius: 5px;
    margin:50px ;
    text-align: center;
}

tbody tr:first-child{
    border-top: 9px solid #e0e0e0;
}
tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;
    
  }

  @media(max-width: 574px){
    
    .termes-Filter h1{
        text-align: center;
        font-size: 32px;
        
    }
    .termes-Filter h1::after{
        width: 95%;
        margin-top: 3px;
    }
  }
  